// 引用 自行變動部分 BS 變數後的檔案
// @import "./_variables.styl"
// @import "../node_modules/bootstrap/scss/functions"
// @import "../node_modules/bootstrap/scss/bootstrap"

.textPrimary
  color #0a3125
.textSecondary
  color #caceac
.textPrimary-dark
  color #061f17
.textSecondary-dark
  color #81846e
.textMute
  color #407061

.bgPrimary
  background-color #0a3125
.bgSecondary
  background-color #caceac
.bgPrimary-dark
  background-color #061f17
.bgSecondary-dark
  background-color #81846e
.bgMute
  background-color #407061

.bdPrimary
  border-color #0a3125
.bdSecondary
  border-color #caceac
.bdNone
  border-color transparent

// For App.vue b-navbar
.navbar-dark, .navbar-dark .navbar-brand ,.navbar-dark .navbar-nav .nav-link
  color #caceac